/*main styles*/
* {
  font-family: 'Anton', sans-serif;
}
header {
  text-align: center;
}
h2 {
  font-size: 30px;
}
header > h1 {
  position: relative;
  top: -20px;
  margin-left: 20px;
  display: inline-block;
  font-size: 50px;
}
a:visited {
  color:#CE1141;
}
#top-logo {
  display: inline-block;
  height: 75px; width: 75px;
}
#scoring-leaders {
  width: 100%;
  height: 250px;
  border-collapse: collapse;
  font-size: 40px;
}
#scoring-caption {
  caption-side: bottom;
  font-style: italic;
  font-size: 30px;
}
.scoring-head {
  background-color: #CE1141;
  color: #000;
  font-weight: bold;
  height: 50px;
  text-align: left;
}
.scoring-row:hover {
  background-color: gray;
}
.scoring-head, .scoring-data {
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
}
.scoring-row:nth-child(even) {
  background-color: #f2f2f2
}
footer {
text-align: center;
}
#sources {
  font-size: 12px;
}

/*questionare specific styles*/
#questionaire-header {
  text-align: center;
  font-size: 30px;
}
fieldset {
  height: 550px;
}
.input-item {
  margin: 10px;
}
.input-item > label {
  font-size: 25px;
  font-weight: bold;
}
input {
  margin: 5px;
  height: 40px;
  width: 100%;
}
label {
  margin: 5px;
}
#button {
  text-align: center;
}
#questionaire-submit {
  height: 50px;
  width: 100px
}
